@media screen 
and (max-device-width: 768px)	
and (min-device-width: 480px)
{
	.container{
		width: 80%;
		margin: 0 auto;
		height: 100%;
	}
	.navigationMenu{
		display: flex;
		justify-content: space-between;
		list-style: none;
		margin: 0;
		padding: 0;
		height: 100%;
	}
	#mainHead{
		background-image: url(../Images/плпшка.png);
		height: 620px;
		width: 1920px;
	}
	.mainHeadImg{
		position: absolute;
		top: 101px;
		left: 800px;
	}
	.titleMain{
		/*margin: 90px 20px 5px 15px;*/
		/*border: 1px solid;*/
		width: 620px;
		height: 100%;
		display: inline-block;
	}
	.titleFirst{
		/*border: 1px solid;*/
		font-size: 3em;
		font-weight: bold;
		color: white;
		padding-top: 90px;
	}
	.titleSecond{
		/*border: 1px solid;*/
		font-size: 2em; 
		color: #f0f0f0;
	}
	.titleThird{
		margin-top: 80px;
		font-size: 2em;
		/*border: 1px solid;*/
		color: #f0f0f0;
	}
	.headButton{
		background-color: white;
		border: none;
		width: 270px;
		height: 60px;
		font-size: 1.5em;
		margin-top: 50px;
		color: #c0132d;
		font-weight: bold;
		outline: none;
	}
	.mainHeadLine{
		width: 1920px;
		background-color: #f0f0f0;
		height: 130px;
	}
	.headLineText{
		font-weight: bold;
		font-size: 2em;
		color: #404040;
		height: 50px;
		width: 620px;
		margin-top: 60px;
		display: inline-block;
	}
	.navigation{
		height: 180px;
		background-color: white;
		width: 1920px;
	}
	.navigationMenuItem{
		display: inline-block;
		height: 100%;
	}
	.navigationMenuIm{
		display: block;
		margin: 0 auto;
		height: 20%;
	}
	.navigationMenulink{
		display: block;
		text-decoration: none;
		color: #404040;
		padding: 32px 19px;
		height: 120%;
	}
	.navigationMenuText{
		padding-top: 30px;
		font-size: 1.5em;
	}
	.navigationMenulink:hover{
		color: #ac162c;
	}
	.mainContant{
		background-color: #f0f0f0;
		height: 540px;
		width: 1920px;
	}
	.firstHalf{
		width: 49%;
		height: 100%;
		display: inline-block;
		font-weight: bold;
		color: #404040;
		vertical-align: top;
	}
	.descriptionContantLeft{
		font-size: 2em;
		margin: 30px 20px;
		display: inline-block;

	}
	.secondHalf{
		/*border: 1px solid;*/
		height: 100%;
		width: 49%;
		display: inline-block;
		vertical-align: top;
	}
	.contain{
		font-size: 1.5em;
		list-style-type: square;
	}
	.containItem{
		color: #ac162c;
	}
	.containText{
		color: #404040;
	}
	.containButton{
		background-color: #ac162c;
		width: 250px;
		height: 50px;
		border: none;
		font-size: 1.5em;
		font-weight: bold;
		color: white;
		margin: 40px 0 0 20px;
		outline: none;
	}
	.descriptionContantRight{
		font-size: 2em;
		font-weight: bold;
		color: #404040;
		margin-top: 35px;
		display: inline-block;
	}
	.listDocuments{
		background-color: white;
		width: 500px;
		height: 200px;
		border-radius: 20px;
		margin-top: 20px;
	}
	.listDocumentsText{
		padding: 10px 30px;
		color: #404040;
	}
	.listDocumentsСontent{

	}
	.listDocumentsСontentItem{
		color: #ac162c;
	}
	.DocumentsText{
		color: #404040;
	}
	.criteriaText{
		color: #404040;
		padding-top: 10px;
		font-weight: bold;
		font-size: 1.2em;
	}
	.openCriteria{
		width: 250px;
		height: 50px;
		background: none;
		border: 2px solid;
		border-color: #ac162c;
		border-radius: 30px;
		margin-top: 5px;
		color: #ac162c;
		outline: none;
		display: block;
		font-size: 1.5em;
	}
	.openFile{
		width: 250px;
		height: 50px;
		background: #ac162c;
		border: 2px solid;
		border-radius: 30px;
		margin-top: 5px;
		color: white;
		outline: none;
		display: block;
		font-size: 1.2em;
	}
	.mainFooter{
		width: 1920px;
		height: 675px;
		background: url(../Images/footer.png);
	}
	.footerMainText{
		color: white;
		font-weight: bold;
		font-size: 2.5em;
		margin-top: 10px;
		display: inline-block;
	}
	.footerList{
		width: 95%;
		/*border: 1px solid;*/
		list-style: none;
		margin: 150px 0 0 0;
		padding: 0;
		display: flex;
		justify-content: space-between;
	}
	.footerListItem{
		display: inline-block;
		color: white;
		height: 100%;
		/*vertical-align: bottom;*/
	}
	.footerImg{
		margin: 0 auto;
		display: block;
		height: 60px;
	}
	.footerText{
		display: block;
		padding-top: 50px;
		font-size: 2em;
	}
	.footerButton{
		width: 250px;
		height: 50px;
		background-color: white;
		border: none;
		float: right;
		margin: 5% 20%;
		color: #ac162c;
		font-weight: bold;
		font-size: 1.5em;
		outline: none;
	}
	.mobileMenu{
		display: none;
	}
}